<!DOCTYPE html>
<html lang="{{ site.locale }}">
  {% include "head.njk" %}
  <body class="theme-base-morandigreen">
    {% include "sidebar.njk" %}
    <div role="main" class="content container">
      {% block content %} {{ content | safe }} {% endblock %}
    </div>
    {% block Scripts %} {% endblock %}
    <script id="dsq-count-scr" src="//zekiofelysium.disqus.com/count.js" async></script>
  </body>
</html>
